.score-display {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  width: 100%;
  height: 400px;
  row-gap: 5%;
}

.score-display::-webkit-scrollbar {
  display: none;
}

.score-container {
  display: flex;
  column-gap: 20%;
  justify-content: center;
  border: 1px solid gray;
  padding: 2%;
}
